:root{
    --main-color: rgb(16, 146, 146);
    --main-color-darker: rgb(19, 105, 105);
    --success: #0cd19d
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    line-height: normal;
    user-select: none;
}

body ::-webkit-scrollbar{
    width: 5px;
}
body ::-webkit-scrollbar-track{
    background: none;
}
body ::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 10px;
}

body{
    overflow-x: hidden;
}

.hidden{
    display: none;
    opacity: 0;
}

.w-100{
    width: 100%;
}
.heading{
    color: #3d3d3d;
    margin-bottom:20px;
    font-size: 30px;
}

.flex-y{
    display: flex;
    flex-direction: column;
}

.bigger-text{
    font-size: large;
    color: #4f4f4f;
}

.small-text{
    font-size: small;
    color: #4f4f4f;

}


.flex-x{
   display: flex;
   flex-direction:row;
}

.border-bezel{
    border-radius: 10px;
}

.box-shadow{
    box-shadow: 0 0 10px 1px rgb(173, 173, 173);
}
.gap{
    gap: 1em;
}

.relative{
    position: relative;
}

.underline{
    border-bottom: solid 1px rgb(100, 100, 100) ;
}

.align-center{
    align-items: center;
}
.align-end{
    align-items:end;
}

.text-end{
    text-align: end;
}

.text-center{
    text-align: center;
}

.space-between{
    justify-content: space-between;
}

.dib{
    display: inline-block;
}


.btn-right{
    margin-left: auto;
    width: 30%;
}

textarea{
    resize: none;
    transition: .3s;
    outline: 1px solid rgba(35, 35, 35, .6);
    padding: 5px;
    border: none;
}

textarea:focus{
    outline: 2px solid var(--main-color);
    border: none;
}

.deskripsi{
    font-size: small;
    color: #3d3d3d;
}

.judul-input{
    font-size: small;
    color: #252525;
}
.error{
    font-size: 14px;
    color: red;
}
/* alert css */
.toast{
    position: absolute;
    top: 25px;
    right: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-left: 6px solid var(--success);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    z-index: 101;
}
.toast.active{
    transform: translateX(0%);
}
.toast .toast-content{
    display: flex;
    align-items: center;
}
.toast-content .check{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: var(--success);
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}
.toast-content .message{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}
.message .text{
    font-size: 20px;
    font-weight: 400;;
    color: #666666;
}
.message .text.text-1{
    font-weight: 600;
    color: #333;
}
.toast .close{
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}
.toast .close:hover{
    opacity: 1;
}
.toast .progress{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
}
.toast .progress:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: var(--success);
}
.progress.active:before{
    animation: progress 5s linear forwards;
}
@keyframes progress {
    100%{
        right: 100%;
    }
}

/* alert css end */

.logo h3{
    font-size: 20px;
    color: rgb(21, 146, 146);
}

.fa-xmark{
    cursor: pointer;
}

ul{
    list-style: none;
}


.close{
    font-size: 30px;
    color:#437ae8;
    cursor: pointer;
    transition: .3s;
}
.close:hover{
    color: #0055ff;
}

.data-foto{
 width: 100%;
 margin-bottom: 1em;
}

.judul-foto{
    font-size:large;
    color: #000000;
}

.deskripsi-foto{
    font-size: small;
    color: #3d3d3d;
}





input{
    transition: .1s;
}

.container-modal{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .4);
    z-index: 100;
    justify-content: center;
    align-items: center;
}

.container-foto-preview{
    padding: .7em;
    width: 60%;
    max-height: 90%;
    display: flex;
    /* jadikan flex */
    gap: .5em;
    background-color: #ffffff;
    border-radius: 25px;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 14;
}


.modal-preview-img{

}

.container-preview{
    min-height: 500px;
    flex: .4;
    columns: 1;
    column-gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}



.preview-kanan{
    flex: .6;
    background-color: #f3f3f3;
    border-radius:25px;
    padding: 10px;
    position: relative;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: end;
}

.container-preview .box
{
    margin: auto 0;
    break-inside: avoid;
    position: relative;
    max-height: 100%;
    overflow-y: auto;
    border-radius: 15px;
    align-self: center;
}

.container-preview .box img{
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s;

}



.foto-preview{
    height: 90%;
}

.foto-preview .box
{
    margin: auto 0;
    break-inside: avoid;
    position: relative;
    max-height: 100%;
    overflow-y: auto;
    border-radius: 15px;
    align-self: center;
}

.foto-preview .box img{
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    transition: .3s;

}

body{
    background-color: #f7f7f7;
}

.exit, .exit-2{
    cursor: pointer;
}

.normal-input{
    display: block;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.2);
    background: transparent;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    transition: .1s;
    outline: #437ae8 0px solid;

}
.normal-input:focus{
    outline: #437ae8 3px solid;
}

.button{
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    border: none;
    outline: solid 1px rgb(16, 146, 146) ;
    color: #303030;
    line-height: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: .1s;
    font-size: small;
    min-width: 100px;
    text-align: center;
}

.container-komentar{
    background-color: #fff;
    border-radius: 0 0 25px 25px;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.bawah{
    margin-top: 60px;
    height: 100%;
}

.komentar-list{
    overflow-y: auto;
    min-height: 300px;
    max-height: 400px;

}

.komentar-list ul{
    list-style: none;
}

li.komen{
    display: flex;
    font-size: 14px;
    overflow: hidden;
    align-items: center;
    line-height: 13px;
    padding: 10px 12px;
    gap: 1em;
    position: relative;

}


span.komen-username{
    color: #303030;
    display: inline-block;
    font-size:normal;
    font-weight: bold;
    background-color: #f3f3f3;
    padding: 5px;
    border-radius: 0 10px 10px 10px;
    max-width: 70%;

}


p.komen-isi{
    color: #292929;
    display: inline;
    overflow: hidden;
    font-size: small;
    font-weight: lighter;

}
.container-input:focus-within{
    border: 2px solid var(--main-color);
    outline: none;
}
.container-input{
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background-color: white;
    border-radius: 0 0 25px 25px;
    border-top: solid 2px #d1d1d1;
    transition: .3s;
    display: flex;
    justify-content: space-between;
}

.ul-komentar{
    margin-bottom: 31px;
    max-width: 100%;
    overflow: auto;
    padding: 5px 8px;

}

#aksi-komentar{
    font-size: normal;
    cursor: pointer;
    margin-left: auto ;
}

.input-komentar{
    border: none;
    outline: none;
    background: transparent;
    max-height: 100%;
    padding: 0 10px;
    font-size: 12px;
    flex: .8;
}

.input-komentar:focus{
    outline: none;
    border: none;
}


.btn-komentar{
    background-color: rgb(16, 146, 146);
    color: white;
    width: 40px;
    height: 40px;
    padding: 10px;
    outline: none;
    line-height: 0;
    flex: .2;
}

.button:hover, .button-active{
    background-color: rgb(16, 146, 146);
    color: white;
    outline: none;
}

.dropdown{
    min-width: 10em;
    position: relative;
    width: 200px;
    max-width: 260px;
    display: none;
    opacity: 0;
    transition: .3s;
}

.dropdown-active{
    display: block;
    opacity: 1;
}

.buttons-modal-simpan{
    display: flex;
    justify-content: space-between;
    font-weight: 100;
    gap: 2em;
}

/* navbar */

.header{
    display: flex;
    align-items: center;
    box-shadow: none;
    justify-content: space-evenly;
    height: 120px;
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    transition: .3s;
    z-index: 100;
}

.lebih{
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
    height: 100px;
}

.kurang{
    box-shadow: none;
    height: 120px;
}

.logo i{
    font-size: 50px;
    color: rgb(16, 146, 146);
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}


.links a{
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
    padding: 12.5px 15px;
    font-weight: 900;
    letter-spacing: 1px;
}

.links .active{
    border: #313131 0 solid;
    background-color: rgb(16, 146, 146);
    border-radius: 80px;
    color: white;
}

.atas{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: rgb(234, 234, 234);
}



.select{
    background:  rgb(255, 255, 255);
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: rgb(16, 146, 146) solid 1px;
    border-radius: 35px;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}



.select-clicked{
    background:rgb(16, 146, 146);
    color: #ffffff;
}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #000000;
    transition: 0.3s;
}

.caret-rotate{
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background-color: #fff;
    /* border: 1px solid black; */
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
    border-radius: 0.5em;
    color: #313131;
    position: absolute;
    top: 4em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 100;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover{
    background-color:#e8e8e8;
}

.active{
    background-color: #e8e8e8;
}

.menu-open{
    display: block;
    opacity: 1;
}



.search{
    width: 500px;
    height: 55px;
    background-color: #e8e8e8;
    border-radius: 80px;
    padding: 0 20px;
    outline: var(--main-color) solid 0px;
    transition: .1s;

}

.search:hover{
    background-color: #dcdcdc;
}

.search i{
    color: #555;
}

.search input{
    border: none;
    background: transparent;
    width: 80%;
    height: 100%;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    margin: 0 10px;
}

.search:focus-within{
    outline: var(--main-color) solid 3px;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons i{
    font-size: 25px;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    background-color: rgba(209, 209, 209, 0);
    text-align: center;
    line-height: 55px;
    color: #333;
    margin: 0 15px;
    cursor: pointer;
    transition: .3s;
}

.icon{
    font-size: 25px;
    border-radius: 50px;
    background-color: rgba(209, 209, 209, 0);
    text-align: center;
    color: #333;
    margin: 0 15px;
    cursor: pointer;
    transition: .3s;
}

.icons i:hover{
    background-color: rgba(209, 209, 209, 1);
}
.icons i.active{
    background-color: rgba(209, 209, 209, 1);
}

/* end-navbar */

/* home */



.container{
    width: 1780px;
    margin: 20px auto;
    columns: 6;
    column-gap: 20px;
    display: none;
    opacity: 0;
}

.container-beranda{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#foto-Container{
    position: absolute;
    z-index: 99;
    transition: .4s;
}

.justify-center{
    justify-content: center;
}




.container-simpan-beranda{
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    background-color: white;
    padding: 20px ;
    transition: .4s;
    display: none;
    opacity: 0;
}

.okelah{
    margin-top: 0;
}

.actived{
    display: block;
    opacity: 1;

}

.trigger{
    margin: 20px;
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 140px;
}
.marginT{
    margin-top: 30px;
}





.container .box, .modal-album-content .box
{
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
    position: relative;

}

.container .box img, .modal-album-content .box img{
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    transition: .3s;
    box-shadow: #aaaaaa 0 0 10px .3px;

}
 .modal-album-content .box img{
    break-inside:unset;


}

.box img:hover{
    filter: brightness(60%);
}

.box:hover  .list-aksi{
    opacity: 1;
}



.list-aksi{
    padding: 0 10px;
    width: 100%;
    display: flex;
    gap: 5px;
    position: absolute;
    top: 10px;
    opacity: 0;
    transition: .3s;
}
.list-aksi-preview{
    position:static;
    align-items: center;
    justify-content: flex-end;
}

.data-user-foto{
    display: flex;
    align-items:center ;
    gap: 1em;

}

.nyala{
    opacity: 1;
}

.list-aksi:hover .box img{
    filter: brightness(60%);
}

.aksi-admin{
    position: absolute;
    bottom: 20px;
    left: 10px;

}


.simpan, .like, .edit, .lapor, .hapus, .restore{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255,1);
    color: rgb(12, 12, 12);
    cursor: pointer;
    transition: .2s;
    z-index: 5;
}

.hapus{
    background-color: rgba(219, 21, 21, .6);
    color: rgba(255, 255, 255, 0.7);
}

.hapus:hover{
    background-color: rgba(219, 21, 21, .9);
    color: rgba(255, 255, 255, .6);
}

.lapor{
    background-color: rgb(219, 21, 21);
    margin-right: auto;
    color: white;

}

.like i{
    color: red;
}

i{
    transition: .3s;
}



.simpan:hover, .like:hover, .edit:hover, .lapor:hover, .restrore:hover {

    background-color: rgba(255, 255, 255, .5);
    color: rgb(12, 12, 12);

}

.lapor:hover{
    background-color: rgba(219, 21, 21, .7);

}


.container i{
    font-size: 25px;
    right: 10px;
    bottom: 10px;
}

a{
    text-decoration: none;
}

.modal-simpan-album{
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 1em;
    justify-content: space-between;
    position: absolute;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 500px;
    background-color: rgba(255, 255, 255, 1);
    outline: #949494 1px solid;
    z-index: 15;
}

.header-simpan-album{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-simpan-album{
    background-color: #e8e8e8;
    outline: var(--main-color) 3px solid;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: .6em;
    max-height: 500px;
    overflow-y: auto;
}

.content-simpan-album li{
    padding: 10px ;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-simpan-album li .kiri{
    display: flex;
    gap: 1em;
}
.content-simpan-album li .gambar{
    width: 100px;
    height: 70px;
    overflow: hidden;
    border-radius: 5px;
}
.content-simpan-album li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-album .data-album{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin: 0;
}
.data-album .nama{
    font-size: larger;
}
.data-album .deskripsi{
    font-size: small;
}




.menu-buat-album, .modal-edit-album{
    display: none;
    max-width: 360px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: #808080 0 0 10px 1px;
    padding: 20px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 16;
}

.menu-buat-album button, .modal-edit-album button{
    margin-top: 20px;
}




/* end-home */

/* buat */
.container-buat, .container-profil{
    margin-top: 140px;
}

select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #fff;
}

/* Style for the selected options */
select[multiple] {
    height: auto;
}

/* Style for the options in the dropdown */
option {
    padding: 8px;
}

.judul-buat{
    color: #313131;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;
    margin: 20px 0;
}

.listalbum{
    position: absolute;
    width: 100%;
    bottom: -100%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(150, 150, 150);
    padding: 10px;
    opacity: 1;
    transition: .3s;
}

form.buat{
    display: flex;
    width: 800px;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
    border-radius: 25px;
    padding: 10px 20px;
    gap: 3em;
}

.buat-kiri{
    height: auto;
    flex: .6;
}

.buat-kiri input{
    display: none;
}

.buat-kiri label{
    text-align: center;
    display: block;
    line-height: 436px;
    width: 100%;
    border-radius: 6px;
    border: 1px dashed rgb(16, 146, 146);
    cursor: pointer;
    transition: .3s;
    overflow: hidden;
    overflow-y: auto;
    position: relative;
}

.buat-kiri label:hover{
    background-color: rgba(16, 146, 146, 0.3);
}
.buat-kiri label img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.buat-kanan{
    display: flex;
    flex: .4;
    flex-direction: column;
    gap: 1em;
}







/* res-home */
/* css Profile */

.profil{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}


.profil-img{

    overflow: hidden;
    width: 150px;
    height: 150px;
    border-radius: 150px;
    outline: rgb(16, 146, 146) 5px solid;
}

.profil-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.foto-profil .profil-img{
    outline: none;
}


.profil .username{
    margin-top: 10px;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 2px;
}
.profil .email{
    font-size: 12px;
    font-weight: 500;
    color: #3d3d3d;
}

.data{
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 20px 0;
}

.data .list-data{
    text-align: center;
}

.gap{
    color: #b9b9b9;
}

.list-data p{
    font-weight: 1000;
    letter-spacing: 1px;
}

.list-button{
    display: flex;
    gap: 2em;
}

.btn-profil{
    border-radius: 5px;
}

.logout{
    background: rgb(16, 146, 146);
    color: white;
    outline: none;
}

.icon-img{
    margin-top: 1em;
    font-size: 30px;
    color: rgba(16, 146, 146);
    border-bottom:3px solid #b9b9b9 ;
    padding-bottom:10px ;
}

.modal-edit-data-user{
    display: none;
}

.container-edit-user{
    background-color: white;
    padding: 20px;
    border-radius:25px ;
    min-width: 500px;
}
.container-edit-user button{
    width: 40%;
}
.container-edit-user form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    position: relative;
}
.container-edit-user form .list input{
    width: 100%;
}
.container-edit-user form .list label{
    font-size: 14px;
    margin-left: 5px;
    color: #333;
}

form.edit-user i{
    position: absolute;
    cursor: pointer;
    font-size: larger;
    color: #3d3d3d;
    top: 0;
    right: 0;
}
form .kelompok{
    display: flex;
    gap: 1em;
}

label{
    display: block;
}

.edit-user input, .edit-user select{
    border: none;
    background-color: #f3f3f3;
    height: 40px;
    padding-left: 10px;
    border-radius:6px;

}

.edit-user select{
    width: 100%;
}
.edit-user input:focus{
    outline: 3px solid rgb(16, 146, 146);


}

.kelompok .list{
    width: 100%;
}

.foto-profil{
    display: flex;
    align-items: center;
    gap: 2em;
}

.foto-profil input{
    display: none;
}
.foto-profil label{
    cursor: pointer;
    font-size: 14px;
    background-color: #f7f7f7;
    padding: 5px 5px;
    height: auto;
    outline: #b9b9b9 1px solid;
    border-radius: 10px;

}
.foto-profil label:hover{
    background-color: #b9b9b9;
    outline: none;
    color: #ffffff;

}

.btn-edit{
    outline: none;
    background-color:rgb(16, 146, 146);
    color: white;
    margin-top: 10px;
    margin-left: auto;
}

.edit-password{
    display: none;
}

.edit-password .list{
    margin: 10px 0;
    position: relative;
}

.list-edit{
    position: absolute;
    background-color: white;
    left:0 ;
    top: 100%;
    border-radius: 15px;
    padding: 10px;
    border: rgb(16, 146, 146) solid 2px;
    display: none;
}

.list-edit ul{
    display: flex;
    flex-direction: column;

}

.list-edit ul li{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    border-radius: 15px;
    transition: .3s;
    cursor: pointer;
}
.list-edit ul li:hover{
    background-color: #e8e8e8;
}
.list-edit ul li i{
    color:#303030;
    margin: 0 5px;
}

.container-edit-foto form.buat{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.list-item{
    display: flex;
    gap: 1em;
}
.list-item a{
    flex: .3;
    text-align: center;
}
.list-item button{
    flex: .7;
}


/* css simpan/bookmark */

.container-simpan{
    margin-top: 140px;
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: white;
    padding: 20px 140px;
}

.header-simpan{
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: space-between;
}

.header-simpan p i{
    color: var(--main-color);
}

.content-simpan{
    margin: 0 ;
    column-gap:20px;
    flex-wrap: wrap;
    display: flex;
    gap: 1.5em;
}

.card{
    margin-bottom: 10px;
    break-inside:avoid;
    display: inline-block;
}

.card .gambar{
    width: 300px;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: #808080 0 0 10px 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card .gambar p{
    font-size: larger;
}

.card .gambar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s ease;

}
.card .gambar:hover img{
    transform: scale(1.2);
}



.data-album{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.data-album h4{
    font-weight: 500;
}

.data-album span{
    display: block;
    font-size: smaller;
    color: #313131;
}

.container-modal-album{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.modal-album{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal-album .atasu{
    display: flex;
    flex-direction: column;
}
.atasu p{
    max-width: 50%;
    margin-right: auto;
    font-size: small;
}


.atasu .list{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.atasu .list p{
    font-size: larger;
}

.modal-album-content{
    margin: 10px auto;
    padding: 20px 10px;
    background-color: #f3f3f3;
    columns: 4;
    border-radius: 10px;
    column-gap: 20px;
    overflow-y: auto;
}

/* css admin */

/* Styling for pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination a,
.pagination span {
    display: block;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #f5f5f5;
}

.pagination .active span {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.pagination .disabled span {
    color: #777;
    pointer-events: none;
}

/* Optional: Add responsive styling */
@media (max-width: 768px) {
    .pagination {
        font-size: 14px;
    }
}

.container-admin{
    margin: 0 50px;
    margin-bottom: 20px ;
    padding: 20px 30px;
    background-color: white;
    box-shadow: #cfcfcf 0 0 10px 1px;
    border-radius: 25px;
}




.content-table {
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 0.9em;
    min-width: 600px;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: var(--main-color);
    color: #ffffff;
    text-align: left;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

tr th{
    font-weight: normal;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f1f1f1;
    color: var(--main-color);
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.button-aksi{
    text-align: center;
    font-weight: 500;
    border-radius: 10px;
    max-width: 60%;
    min-width: 40%;
    font-size: small;
    margin: 0 auto;
}

.button-hapus{
    background-color: rgb(218, 53, 53);
    color: white;
    outline: none;
}
.button-hapus:hover{
    background-color: rgb(182, 34, 34);
}
.button-edit{
    background-color: var(--main-color);
    color: white;
    outline: none;
}
.button-edit:hover{
    background-color: var(--main-color-darker);
}

.list-search{
    display: flex;
    align-items: center;
    gap: 2em;
}

#filter {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
  }

  #filter:hover {
    border-color: #999;
  }

  #filter:focus {
    outline: none;
  }

  #filter option {
    background-color: #fff;
    color: #333;
  }

  #filter option:hover {
    background-color: var(--main-color-darker);
  }

  #filter option:checked {
    background-color: var(--main-color);
    color: #fff;
  }

  .content-table{

  }

  .table-profil{
    width: 50px;
    height: 50px;
    border-radius:25px;
    overflow: hidden;
    border: var(--main-color) 2px solid;
    margin: 0 auto;
  }
  .table-profil-preview{
    width: 40px;
    height: 40px;
    margin: 0;
  }
  .table-profil-komen{
    width: 35px;
    height: 35px;
    min-width: 35px;
    min-height: 35px;
    margin: 0;
  }
  .table-profil img{
    width: 101%;
    height: 101%;
    object-fit:cover ;

  }

  .content-table p.username{
    font-size: large;
  }
  .content-table .email{
    font-size: small;
    letter-spacing: 2px;
    opacity: .6;
  }
  .role{
    padding: 10px 6px;
    text-align: center;
    border-radius:20px ;
    color: rgb(45, 45, 45);
  }
  .role-admin{
    background: rgba(146, 38, 16, 0.1);
    outline: solid 1px rgb(146, 38, 16, 0.6);
  }

  .role-user{
    background: rgba(16, 146, 146,.1);
    outline: solid 1px var(--main-color);
  }

  .tanggal{
    font-size: small;
  }
  .alamat, .rol{
    text-align: center;

  }

  /* Modal modal-report */

  .modal-report{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  .modal-container-report{
    background-color: white;
    min-width: 400px;
    max-width: 500px;
    border-radius: 15px;
    padding: 10px;
  }

  .modal-container-report .form-report{
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .modal-container-report .form-report .header-header{
    display: block;
  }
  .modal-container-report .form-report textarea{
    height: 100px;
    width: 100%;
    max-width: 100%;
    resize: none;
    border-radius: 10px;
  }

  .checkbox{
    max-height: 300px;
    overflow-y: auto;
    border-radius: 10px;
    padding: 10px;
    box-shadow: inset 0 0 10px .7px rgba(160, 160, 160, .4);
  }

  .check-report{
    align-items: baseline;
    gap: 5px;
    }

  .check-report label p{
    font-size: small;
    color: #2d2d2d;
    margin-left: 19px;
  }

  input[type="checkbox"] {
    border-radius: 10px;
  }

  input[type="checkbox"]:checked {
    border-color: #00f; /* Ganti warna border ketika dicentang */
  }


/* modal edit-komentar */

.modal-edit-komentar{
    position: absolute;
    z-index: 15;
    border-radius: 10px;
}
form#edit-komentar{
    background-color: white;
    border-radius: 10px;
    width: 400px;
    margin: auto;
    padding: 15px;
}

form#edit-komentar textarea{
    height: 100px;
    width: 100%;
    max-width: 100%;
    resize: none;
    border-radius: 10px;
}











/* end-res-home */

@media (max-width: 1600px)
{
    /* res-home */

    .container
    {
        width: calc(100% - 40px);
        columns: 5;
    }
/* end-res-home */

}
@media (max-width: 1280px)
{
    /* res-home */

    .container
    {
        columns: 4;
    }
/* end-res-home */


}
@media (max-width: 800px)
{
    /* res-home */

    .container
    {
        columns: 2;
    }

    .links{
        display: none;
        opacity: 0;
    }

    .dropdown{
        display: block;
        opacity: 1;
    }
/* end-res-home */

}
@media (max-width: 480px)
{
/* res-home */

    .container
    {
        columns: 1;
    }
    .links{
        display: none;
        opacity: 0;
    }

    .dropdown{
        display: block;
        opacity: 1;
    }
/* end-res-home */

}



