*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.normal-input{
    display: block;
    width: 100%;
    border: 1px solid rgba(0,0,0,0.2);
    background: transparent;
    outline: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    transition: .1s;
    outline: #437ae8 0px solid;

}
.normal-input:focus{
    outline: #437ae8 3px solid;
}

button{
    height: 50px;
    border-radius: 20px;
    background-color: rgb(16, 146, 146);
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 900;
    color: #ffffff;
    cursor: pointer;
}

/* navbar */

.header{
    display: flex;
    align-items: center;
    box-shadow: none;
    justify-content: space-evenly;
    height: 120px;
    width: 100%;
    background: #fff;
    position: fixed;
    top: 0;
    transition: .3s;
    z-index: 100;
}

.lebih{
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
    height: 100px;
}

.kurang{
    box-shadow: none;
    height: 120px;
}

.logo i{
    font-size: 50px;
    color: rgb(16, 146, 146);
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
}


.links a{
    color: #000000;
    text-decoration: none;
    margin: 0 10px;
    padding: 12.5px 15px;
    font-weight: 900;
    letter-spacing: 1px;
}

.links .active{
    border: #313131 0 solid;
    background-color: rgb(16, 146, 146);
    border-radius: 80px;
    color: white;
}

.dropdown{
    min-width: 10em;
    position: relative;
    margin: 2em;
    display: none;
    opacity: 0;
    transition: .3s;
}

.select{
    background:  rgb(255, 255, 255);
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: rgb(16, 146, 146) solid 1px;
    border-radius: 35px;
    padding: 1em;
    cursor: pointer;
    transition: background 0.3s;
}



.select-clicked{
    background:rgb(16, 146, 146);
    color: #ffffff;
}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #000000;
    transition: 0.3s;
}

.caret-rotate{
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    padding: 0.2em 0.5em;
    background-color: #fff;
    /* border: 1px solid black; */
    box-shadow: 0 0.5em 1em rgba(0,0,0,0.2);
    border-radius: 0.5em;
    color: #313131;
    position: absolute;
    top: 4em;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover{
    background-color:#e8e8e8;
}

.active{
    background-color: #e8e8e8;
}

.menu-open{
    display: block;
    opacity: 1;
}



.search{
    width: 800px;
    height: 55px;
    background-color: #e8e8e8;
    border-radius: 80px;
    padding: 0 20px;
    outline: #437ae8 solid 0px;
    transition: .1s;

}

.search:hover{
    background-color: #dcdcdc;
}

.search i{
    color: #555;
}

.search input{
    border: none;
    background: transparent;
    width: 80%;
    height: 100%;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    margin: 0 10px;
}

.search:focus-within{
    outline: #437ae8 solid 5px;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons i{
    font-size: 25px;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    background-color: rgba(209, 209, 209, 0);
    text-align: center;
    line-height: 55px;
    color: #333;
    margin: 0 15px;
    cursor: pointer;
    transition: .3s;
}

.icons i:hover{
    background-color: rgba(209, 209, 209, 1);
}

/* end-navbar */

/* home */



.container{
    width: 1780px;
    margin: 20px auto;
    margin-top: 120px;
    columns: 6;
    column-gap: 20px;
}

.container .box
{
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
    position: relative;
}

.container .box img{
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
    position: relative;
    transition: .3s;
}

.box img:hover{
    filter: brightness(60%);
}

.box:hover  .simpan{
    opacity: 1;
}

.simpan{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, .5);
    color: rgb(12, 12, 12);
    cursor: pointer;
    opacity: 0;
    transition: .2s;
}


.container i{
    font-size: 25px;
    right: 10px;
    bottom: 10px;
}

/* end-home */

/* buat */
.container-buat{
    margin-top: 120px;
}

.judul-buat{
    color: #313131;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;
    margin: 20px 0;
}

form.buat{
    display: flex;
    width: 50%;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.2);
    border-radius: 25px;
    padding: 20px;
    gap: 3em;
}

.buat-kiri{
    height: 436px;
    flex: .5;
}

.buat-kiri input{
    display: none;
}

.buat-kiri label{
    height: 100%;
    text-align: center;
    display: block;
    line-height: 436px;
    width: 100%;
    border-radius: 6px;
    border: 1px dashed rgb(16, 146, 146);
    cursor: pointer;
    transition: .3s;
    overflow: hidden;
    position: relative;
}

.buat-kiri label:hover{
    background-color: rgba(16, 146, 146, 0.3);
}
.buat-kiri label img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.buat-kanan{
    display: flex;
    flex: .5;
    flex-direction: column;
    gap: 1em;
}
.buat-kanan input{
    height: 50px;
}



.buat-kanan textarea{

}




/* res-home */
/* end-res-home */

@media (max-width: 1600px)
{
    /* res-home */

    .container
    {
        width: calc(100% - 40px);
        columns: 5;
    }
/* end-res-home */

}
@media (max-width: 1280px)
{
    /* res-home */

    .container
    {
        columns: 4;
    }
/* end-res-home */


}
@media (max-width: 800px)
{
    /* res-home */

    .container
    {
        columns: 2;
    }

    .links{
        display: none;
        opacity: 0;
    }

    .dropdown{
        display: block;
        opacity: 1;
    }
/* end-res-home */

}
@media (max-width: 480px)
{
/* res-home */

    .container
    {
        columns: 1;
    }
    .links{
        display: none;
        opacity: 0;
    }

    .dropdown{
        display: block;
        opacity: 1;
    }
/* end-res-home */

}


